@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 40px;
    font-size: 20px;
}
.check{
    display: none;
}
.hamburger{
    display: none;
}
.nav-ul{
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 20px;
}
li a{
    text-decoration: none;
    color: brown;
}
.nav-link a:hover{
    color: rebeccapurple;
}
.chat{
    background-color: hsl(136, 65%, 51%);
    border-radius: 100px;
    border-style: none;
    width: 40px;
    height: 40px;
}
.container button:hover{
    background-color: hsla(136, 65%, 51%, 0.719)
}
.bi-chat-text-fill{
    color: white;
}
.welcome-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
}
.welcome-text h1{
    font-size: 100px;
}
.welcome-text p{
    font-size: 30px;
    width: 830px;
}
.welcome-text span{
    color: red;
}
.welcome-btn{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-top: 30px;
}
.touch{
    text-decoration: none;
    background-color: rebeccapurple;
    color: white;
    padding: 10px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    font-size: 20px;
}
.project{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
}
.project:hover{
    background-color: black;
    color: white;
}
.touch:hover{
    background-color: rgb(57, 57, 92);
}
.welcome-image img{
    height: 430px;
    width: 430px;
    padding: 30px;
    border-radius: 430px;
    border: 1px solid;
}
.heading h1{
    font-size: 60px;
}
.easybank img{
    width: 500px;
    height: 300px;
    object-fit: contain;
}
.easybank p{
    font-size: 30px;
    color: gray;
}
.easybank h2{
    font-size: 30px;
}
.cbrlp img{
    width: 500px;
    height: 300px;
    object-fit: contain;
}
.cbrlp h2{
    font-size: 30px;
}
.cbrlp p{
    font-size: 30px;
    color: gray;
}
.bi-arrow-up-right-circle{
    color: rebeccapurple;
}
.bi-arrow-up-right-circle:hover{
    background-color: rgb(57, 57, 92);
}
.project-images{
    display: flex;
}
.project-section{
    padding: 200px 0px 50px 50px;
}
.experience-section h1{
    font-size: 60px;
}
.experience-section{
    padding: 200px 50px 0px 50px;
}
.info{
    display: flex;
    align-items: start;
    column-gap: 100px;
}
.info button{
    font-size: 30px;
    border-style: none;
    background-color: transparent;
    padding: 10px 40px;
    border-left: 4px solid rebeccapurple;
    color: rebeccapurple;
}
.dits{
    font-size: 30px;
}
.dits span{
    color: rebeccapurple;
}
.info-content{
    padding-top: 10px;
}
.info-content ul li{
    font-size: 30px;
    color: gray;
    list-style: none;
    padding-top: 30px;
}
.info button a{
    text-decoration: none;
}
.bi-check-lg{
    color: rebeccapurple;
}
.skill-section h1{
    font-size: 60px;
}
.skill-section{
    padding: 200px 50px 0px 50px;
}
.web-des p{
    color: gray;
}
.skill-list{
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 20px;
    padding-top: 20px;
}
.skill-list li{
    list-style: none;
    color: gray;
}
.my-story h1{
    font-size: 60px;
}
.my-story p{
    font-size: 20px;
    color: gray;
    padding-top: 20px;
}
.my-story-section{
    padding: 200px 50px 150px 50px;
}
.footer-container{
    position: absolute;
    bottom: 0;
    right: 50px;
    color: gray;
}


@media screen and (max-width: 870px){
     nav .btn{
        display: none;
    }
    .chat{
        display: none;
    }
    .hamburger{
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .hamburger img{
        width: 35px;
    }
    .nav-ul{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding: 10px 0;
        margin-top: 40px;
        background-color: hsl(136, 65%, 51%);
        border: 1px solid skyblue;
        border-radius: 10px;
        transform: translateY(-200%); 
        transition: all .5s;
        z-index: 999;
    }
    .nav-ul li{
        padding: 15px 0;
        font-size: 20px;
    }
    li a{
        color: hsl(233, 26%, 24%);
        font-weight: 400;
    }
    li a:hover{
        color: rebeccapurple;
    }
    nav ul li a:hover::before{
        opacity: 0;
    }
    #toggle:checked ~ .nav-ul{
        transform: translateY(1%); 
    }
    #toggle:checked ~ .hamburger{
        border: 2px solid hsl(136, 65%, 51%);
        border-radius: 7px;
        padding: 4px;
    }
    nav p{
        position: absolute;
        top: 25px;
        left: 0;
        padding-left: 50px;
    }
}
@media screen and (min-width: 501px) and (max-width: 1000px){
    .welcome-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 100px;
        padding: 50px 0;
        margin-left: 50px;
        width: 750px;
    }
    .welcome-text p{
        width: 700px;
    }
    .project-images{
        display: flex;
        flex-direction: column;
        row-gap: 100px;
    }
    .easybank p{
        width: 700px;
    }
    .cbrlp p{
        width: 700px;
    }
}
@media screen and (max-width: 500px){
    body{
        width: 350px;
    }
    .container{
        width: 350px;
    }
    nav{
        width: 350px;
        padding-left: 10px;
        padding-right: 0;
    }
    .nav-ul li{
        font-size: 14px;
    }
    nav p{
        position: absolute;
        top: 17px;
        left: 0;
        padding-left: 10px;
        font-size: 14px;
    }
    section{
        width: 350px;
    }
    .welcome-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 100px;
        padding-top: 0;
        padding-bottom: 50px;
        padding-left: 10px;
        padding-right: 0;
        width: 350px;
    }
    .welcome-text{
        margin-top: -50px;
        position: relative;
        z-index: -1;
    }
    .welcome-text p{
        width: 300px;
        font-size: 14px;
    }
    .welcome-text h1{
        font-size: 25px;
        width: 40px;
    }
    .welcome-btn a{
        font-size: 14px;
    }
    .welcome-image img{
        width: 250px;
        height: 250px;
        border-radius: 250px;
    }
    .project-section{
        width: 350px;
        padding-left: 10px;
        padding-right: 0;
        padding-top: 100px;
    }
    .project-section h1{
        font-size: 25px;
        padding-left: 20px;
    }
    .project-images{
        display: flex;
        flex-direction: column;
        row-gap: 100px;
        padding-left: 20px;
    }
    .project-images h2{
        font-size: 20px;
    }
    .easybank img{
        width: 250px;
    }
    .easybank p{
        width: 300px;
        font-size: 14px;
    }
    .cbrlp img{
        width: 250px;
    }
    .cbrlp p{
        width: 300px;
        font-size: 14px;
    }
    .experience-section{
        width: 350px;
        padding-left: 10px;
        padding-right: 0;
        padding-top: 100px;
    }
    .experience-section h1{
        font-size: 25px;
        padding-left: 20px;
    }
    .info{
        display: flex;
        flex-direction: column;
        row-gap: 100px;
        width: 300px;
        padding-left: 20px;
    }
    .info a{
        font-size: 14px;
    }
    .info-content p{
        font-size: 14px;
    }
    .info-content ul li{
        font-size: 14px;
    }
    .skill-section{
        width: 350px;
        padding-left: 10px;
        padding-right: 0;
        padding-top: 100px;
    }
    .skill-section h1{
        font-size: 25px;
        padding-left: 20px;
    }
    .skill-list{
        display: flex;
        flex-direction: column;
        row-gap: 100px;
        width: 300px;
        padding-left: 20px;
    }
    .skill-list h2{
        font-size: 20px;
    }
    .skill-list p{
        font-size: 14px;
    }
    .skill-list ul li{
        font-size: 14px;
    }
    .my-story-section{
        width: 350px;
        padding-left: 10px;
        padding-right: 0;
        padding-top: 100px;
    }
    .my-story h1{
        font-size: 25px;
        padding-left: 20px;
    }
    .my-story p{
        font-size: 14px;
        width: 300px;
        padding-left: 20px;
    }
    .footer-container p{
        font-size: 14px;
    }
}