@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 40px;
    font-size: 20px;
}
.check{
    display: none;
}
.hamburger{
    display: none;
}
.nav-ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 20px;
}
li a{
    text-decoration: none;
    color: brown;
}
.nav-link a:hover{
    color: rebeccapurple;
}
.chat{
    background-color: hsl(136, 65%, 51%);
    border-radius: 100px;
    border-style: none;
    width: 40px;
    height: 40px;
}
.container button:hover{
    background-color: hsla(136, 65%, 51%, 0.719)
}
.bi-chat-text-fill{
    color: white;
}
.project-section{
    padding: 100px 50px;
}
.heading h1{
    font-size: 60px;
}
.heading p{
    font-size: 30px;
}
span{
    color: rebeccapurple;
}
.project-images{
    padding-top: 100px;
}
.easybank h2{
    font-size: 60px;
    padding-top: 20px;
}
.easybank p{
    font-size: 30px;
    color: gray;
    padding-top: 20px;
}
.easybank img{
    border-radius: 20px;
}
.cbrlp h2{
    font-size: 60px;
    padding-top: 20px;
}
.cbrlp p{
    font-size: 30px;
    color: gray;
    padding-top: 20px;
}
.cbrlp img{
    border-radius: 20px;
}
.left p{
    font-size: 30px;
    color: gray;
}
.left-btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
    padding-top: 30px;
}
.touch{
    text-decoration: none;
    background-color: rebeccapurple;
    color: white;
    padding: 10px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    font-size: 20px;
}
.project{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
}
.project:hover{
    background-color: black;
    color: white;
}
.touch:hover{
    background-color: rgb(57, 57, 92);
}
.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    column-gap: 30px;
    padding: 20px 50px 30px 50px;
}
.right{
    color: gray;
}


@media screen and (max-width: 870px){
     nav .btn{
        display: none;
    }
    .chat{
        display: none;
    }
    .hamburger{
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .hamburger img{
        width: 35px;
    }
    .nav-ul{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding: 10px 0;
        margin-top: 40px;
        background-color: hsl(136, 65%, 51%);
        border: 1px solid skyblue;
        border-radius: 10px;
        transform: translateY(-200%); 
        transition: all .5s;
        z-index: 999;
    }
    .nav-ul li{
        padding: 15px 0;
        font-size: 20px;
    }
    li a{
        color: hsl(233, 26%, 24%);
        font-weight: 400;
    }
    li a:hover{
        color: rebeccapurple;
    }
    nav ul li a:hover::before{
        opacity: 0;
    }
    #toggle:checked ~ .nav-ul{
        transform: translateY(1%); 
    }
    #toggle:checked ~ .hamburger{
        border: 2px solid hsl(136, 65%, 51%);
        border-radius: 7px;
        padding: 4px;
    }
    nav p{
        position: absolute;
        top: 25px;
        left: 0;
        padding-left: 50px;
    }
}
@media screen and (min-width: 501px) and (max-width: 871px){
    .project-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
        padding: 20px 0;
        margin-left: 10px;
        width: 821px;
    }
    .heading p{
        width: 810px;
    }
    .project-images{
        width: 810px;
    }
    .easybank img{
        width: 810px;
    }
    .cbrlp img{
        width: 810px;
    }
    .footer-section{
        padding-right: 30px;
        padding-left: 15px;
        flex-wrap: wrap;
    }
    .left-btn{
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 10px;
    }
    .right{
        position: absolute;
        bottom: 0;
        right: 40px;
    }
}
@media screen and (max-width: 500px){
    body{
        width: 350px;
    }
    .container{
    width: 350px;
    }
    nav{
        width: 350px;
        padding-left: 10px;
        padding-right: 0;
    }
    .nav-ul li{
        font-size: 14px;
    }
    nav p{
        position: absolute;
        top: 17px;
        left: 0;
        padding-left: 10px;
        font-size: 14px;
    }
    .project-section{
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 0px;
        padding-top: 0;
        margin-top: -100px;
        width: 350px;
    }
    .heading h1{
        font-size: 25px;
        padding-left: 20px;
    }
    .heading p{
        font-size: 14px;
        width: 300px;
        padding-left: 20px;
    }
    .easybank img{
        width: 300px;
        margin-left: 20px;
    }
    .easybank h2{
        font-size: 20px;
        padding-left: 20px;
    }
    .easybank p{
        font-size: 14px;
        width: 300px;
        padding-left: 20px;
    }
    .cbrlp img{
        width: 300px;
        margin-left: 20px;
    }
    .cbrlp h2{
        font-size: 20px;
        padding-left: 20px;
    }
    .cbrlp p{
        font-size: 14px;
        width: 300px;
        padding-left: 20px;
    }
    .footer-section{
        padding-left: 10px;
        padding-right: 20px;
        width: 350px;
    }
    .left p{
        font-size: 14px;
        padding-left: 20px;
    }
    .left-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    .left-btn a{
        font-size: 14px;
    }
    .right p{
        font-size: 14px;
    }
}